In [1]:
import pandas as pd
import csv
import os
from statistics import mean
file = "budget_data.csv"
#with open (file) as f:
#    print(f)
    
with open(file, newline="") as csvfile:
    csvreader = csv.reader(csvfile,delimiter = ",")

file_df = pd.read_csv(file, encoding = "cp1252")
file_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [2]:
#total number of months included in the dataset

totalMonths = len(file_df["Date"])
totalMonths

86

In [3]:
#net total amount of profit and loses over the entire period
 
totalNet = sum(file_df["Profit/Losses"])
totalNet

38382578

In [4]:
#rename coulumn "Profit/Losses" to Ps_and_Ls
renamed_df = file_df.rename(columns={"Profit/Losses":"PLs"})

#renamed_df.head

In [5]:
#return the series Ps_and_Ls
#renamed_df["PLs"].head()

In [6]:
#Create a change list
changeList = []
curentProfit = 0
prevMonthProfit = 867884


for PL in renamed_df.PLs:
   currentProfit = PL
   change = currentProfit-prevMonthProfit
   prevMonthProfit = currentProfit
   changeList.append(change)

changeList.pop(0)

#changeList

0

In [8]:
#Create an average of the changes
#file_df["Changes"] = changeList
averageChanges = round(mean(changeList),2)
averageChanges

-2315.12

In [14]:
mx = max(changeList)
mx

1926159

In [17]:
mun = min(changeList)
mun

-2196167

In [20]:
#print it!
print("Financial Analysis")
print("-------------------------------")
print("Total Months: " + str(totalMonths))
print("Total: "+ str(totalNet))
print("Average Change: " + str(averageChanges))
print("Greatest Increase in Profits: " + str(mx))
print("Greatest Decrease in Profits: " + str(mn))

Financial Analysis
-------------------------------
Total Months: 86
Total: 38382578
Average Change: -2315.12
Greatest Increase in Profits: 1926159
Greatest Decrease in Profits: -2196167

In [22]:
#export text file
renamed_df.to_csv("PyBankFinal.csv", index=False, header = True)